<header id="store">
    <h1>Greengrocers</h1>
    <button (click)="onSortByPrice()">Sort by Price</button>
    <button (click)="onSortByName()">Sort by Name</button>
    <button (click)="onFilterByType()">Filter by Type</button>
    <ul class="item-list store--item-list">
        <li *ngFor="let item of sortedItems">
            <div class="store--item-icon">
                <img src="assets/icons/{{item.id}}.svg" alt="{{item.name}}" />
            </div>
            <button (click)="onAddToCart(item)">Add to cart</button>
        </li>
    </ul>
</header>
